body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/heart-bg.jpg");
    background-size: cover;
    font-family: "Pixelify Sans", sans-serif;
}

/* Envelope */

#envelope-container {
    text-align: center;
    cursor: pointer;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#envelope {
    width: 200px;
    animation: pulse 1.5s infinite;
}

/* Letter Container */

#letter-container {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

/* Letter Window */

.letter-window {
    width: 90vw;
    max-width: 800px;
    aspect-ratio: 3/2;
    padding: 20px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("img/window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    gap: 10px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 30px;
    margin: 0;
}

p {
    font-size: 40px;
}

/* GATO */

.cat {
    width: 250px;
    margin: 10px 0;
    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: 180px;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.no-wrapper {
    position: relative;
}

.btn {
    width: 120px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
}

.no-btn {
    cursor: default;
}

.final-text {
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255,240,240,0.6);
    border-radius: 12px;
    display: none;
}